<header id="inceput" class="inceput">
    <h1>Magazin de Prăjituri Dulce Atelier</h1>

    <nav>
        <ul>
            <li>
                <a href="/index">Acasă</a>
                <ul>
                    <li><a href="#despre">Despre noi</a></li>
                    <li><a href="#evenimente">Evenimente dulci</a></li>
                    <li><a href="#galerie">Galerie</a></li>
                    <li><a href="#video">Video</a></li>
                    <li><a href="#program">Program</a></li>
                    <li><a href="#intrebari">Întrebări frecvente</a></li>
                </ul>
            </li>
            <li><a href="/despre">Despre site</a></li>
            <li><a href="#">Torturi la comandă</a></li>
            <li><a href="#">Oferte</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>